<header>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
   <div class="container">
   <a href="index.html" class="navbar-brand nav-link">Travelodge</a>
   <button class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
       <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="myNavbar">
   <ul class="navbar-nav ml-auto">
       <li class="navbar-item"><a href="index.html" class="nav-link"><i class="bi bi-house"></i> Home</a></li>
       <li class="navbar-item dropdown" *ngIf="!(userId)"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" ><i class="bi bi-box-arrow-in-right"></i> Login</a>
         <div class="dropdown-menu dropdown-menu-right bg-info">
           <a routerLink='/admin' class="dropdown-item">Admin Login</a>
           <a routerLink='/login' class="dropdown-item">User Login</a>
         </div>
       </li>
       
       <li class="navbar-item dropdown" *ngIf="userId"><a routerLink='#' class="nav-link dropdown-toggle" data-toggle="dropdown" *ngIf="userName"><i class="bi bi-person-circle"></i> {{userName | titlecase}}</a>
        <div class="dropdown-menu dropdown-menu-right bg-info">
          <a routerLink='#' class="dropdown-item"><i class="fa fa-cog" aria-hidden="true"></i> My Profile</a>
          <a routerLink='/logout' class="dropdown-item"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        </div>
      </li>
       <li class="navbar-item"><a routerLink='/view' class="nav-link"><i class="bi bi-list"></i> About Us</a></li>
       <li class="navbar-item"><a href="#" class="nav-link"><i class="bi bi-phone"></i> Contact Us</a></li>
   </ul>
   </div>
 </div>
 </nav>
</header>

