<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <title>Bootstrap Sign up Form with Icons</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="createuser.component.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<div class="signup-form">
    <form [formGroup]="addForm" (ngSubmit)="saveuser()">
        <h2>Sign Up</h2>
        <p>Please fill in this form to create an account!</p>
        <hr>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-user"></span>
                    </span>
                </div>
                <input formControlName="userName" type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="user.userName" required="required">
            </div>
            <div class="text-danger" *ngIf=" Submitted && addForm.controls.userName.errors">Provide UserName</div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-paper-plane"></i>
                    </span>
                </div>
                <input formControlName="email" type="email" class="form-control" name="email" placeholder="Email Address" [(ngModel)]="user.email" required="required">
            </div>
            <div class="text-danger" *ngIf=" Submitted && addForm.controls.email.errors">
                <div *ngIf="addForm.controls.email.errors?.required">Email address is required</div>
                <div *ngIf="addForm.controls.email.errors?.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                <input formControlName="password" type="text" class="form-control" name="password" placeholder="Password" [(ngModel)]="user.password" required="required">
            </div>
            <div class="text-danger" *ngIf=" Submitted && addForm.controls.password.errors">Provide Password</div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                        <i class="fa fa-check"></i>
                    </span>
                </div>
                <input formControlName="cPassword" appConfirmedvalidator="password" type="password" class="form-control" name="confirm_password" [(ngModel)]="cPassword" placeholder="Confirm Password" required="required">
            </div>
            <div class="text-danger" *ngIf=" Submitted && addForm.controls.cPassword.errors">Provide Confirm Password</div>
            <!-- <div *ngIf="Submitted && cPassword.errors.notEqual">Password and Confirm Password must be match.</div> -->
        </div>
        <!-- <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
                <input type="text" value="Customer" class="form-control" name="role" [(ngModel)]="user.role" required="required" disabled>
            </div>
        </div> -->
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-mobile"></i>
                    </span>
                </div>
                <input formControlName="mobile" type="text" class="form-control" name="mobile" [(ngModel)]="user.mobile" placeholder="  Mobile Number"
                    required="required">
            </div>
            <div class="text-danger" *ngIf=" Submitted && addForm.controls.mobile.errors">Provide Mobile Number</div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                    </span>
                </div>
                <input formControlName="address" type="text" class="form-control" name="address" placeholder="Address" [(ngModel)]="user.address" required="required">
            </div>
            <div class="text-danger" *ngIf=" Submitted && addForm.controls.address.errors">Provide Address</div>
        </div>
        <div class="form-group">
            <label class="form-check-label"><input formControlName="terms" type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
            <div class="text-danger" *ngIf=" Submitted && addForm.controls.terms.errors">Select Terms and Conditions</div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
        </div>
    </form>
    <div class="text-center">Already have an account? <a routerLink="/login">Login here</a></div>
</div>


</body>


